body{
    background-color:rgb(234, 205, 194);
    font-family: 'Titillium Web', sans-serif;
    max-width: 900px;
    margin: auto;
}

.top_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 3px solid rgba(15, 15, 15, 0.664);
    border-radius: 500px;
    width: 30%;
}

.subtitle, .post_title{
    color:rgb(55, 37, 73);
}

#title {
    color: rgb(26, 20, 35);
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.a {
    text-decoration: line-through;
    color: black;
}

.post_title{
    font-size: 20px;
    font-style: normal;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: rgb(183, 93, 105);
    padding: 15px;
    border: 3px solid rgba(15, 15, 15, 0.664);
    margin-bottom: 15px;
    border-radius: 7px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
    font-family: 'Titillium Web', sans-serif;
    font-size: large;
}

.post_image {
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
    color: rgb(26, 20, 35);
}