:root { /*define variaveis na raiz do codigo*/
    --vermelho: #e50914;
    --preto: #141414;
}

* { /*configurações reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/*elementos da base*/
body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row; /*parametro default*/
    align-items: center; /*alinhamento vertical*/
    justify-content: space-between; /*alinhamento horizontal*/
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover { /*toda vez que o mouse passar em cima das ancoras*/
    color: #fff; /*muda a cor*/
}

/*filme principal*/
.filme-principal {
    font-size: 16px;
    /*linear-gradiente: cria uma camada fina em cima da imagem*/
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("/interface-Netflix/img/capa-dark.jpg");
    height: 700px;
    background-size: cover;
    display: flex;
    flex-direction: column; /*muda a direcao do alinhamento*/
    justify-content: center; /*alinhamento vertical, nesse caso*/
    align-items: flex-start; /*alinhamento horizontal, nesse caso*/
}

.filme-principal .descricao {
    margin-bottom: 90px;
    margin-top: 10px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS';
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px; /*padding: cima/baixo esquerda/direita*/
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer; /*ponteiro muda*/
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}